body{margin: 0; padding: 0;}
header{width: 100%; height: auto; border-bottom: 2px solid #8e846b;background-color: #ffeebb;
	position: fixed; top: 0; padding: 5px; box-sizing: border-box;z-index: 1000;}

	.nav{display: flex; flex-direction: row;width: 100%}
	.left_nav{width: 65%; height: 50px; height: auto;} .right_nav{width: 35%;height: auto;}

	/*left Navbar*/
	.left_manu{padding: 0px;margin: 0px 10px 0px 10px;}

	.left_manu li{float: left; list-style: none; margin: 10px 0px 0px 5px;}
	.left_manu a{color: black; text-decoration: none;    font-family: Arial;font-size: 12px;padding: 5px 5px 4px 5px;}
	.left_manu a:hover{background: url(../Images/dark.png)  repeat-x left center; border: 1px solid #c98f06; border-radius: 3px;
		padding: 4px 4px 3px 4px; }

    .one span{background: url(../Images/desktop.png) no-repeat left 1px;    margin: 0;padding: 2px 0 0 21px; }
    .two span{background: url(../Images/group.png) no-repeat left 1px,url(../Images/drop.png) no-repeat right 7px; margin: 0;
    	padding: 2px 21px 0 21px; position: relative;}
   .two:hover .child_two{display: block;}
     .three span{background: url(../Images/group.png) no-repeat left 1px,url(../Images/drop.png) no-repeat right 7px; margin: 0;
    	padding: 2px 21px 0 21px; position: relative;}

  .three:hover .child_three{display: block;}
    .four span{background: url(../Images/mmm_extra.png) no-repeat left 0px;    margin: 0;padding: 2px 0 0 21px; }
    .five span{background: url(../Images/mavro.png) no-repeat left 0px;    margin: 0;padding: 2px 0 0 21px; }	
    .six span{background: url(../Images/money.png) no-repeat left 0px;    margin: 0;padding: 2px 0 0 21px; }

    /*left manu dropdown	*/
    .child_two{background-color: white;box-shadow: 1px 2px 3px 0px #999999;border: 1px solid #D1D0D0; position: absolute; 
    margin: 0px;padding: 0px; display: none;left: 150px;}
    .child_two li{margin: 0;padding: 0 0 0px 0;display:block;list-style-type: none;float: left;clear: left;}
    .child_two li a{width: 222px;line-height: 20px; display: block;}
   .child_one span{background: url(../Images/group.png) no-repeat left 1px; margin: 0; padding: 2px 21px 0 21px; }
.child_two_two span{background: url(../Images/group.png) no-repeat left 1px; margin: 0; padding: 2px 21px 0 21px; }


.child_three{background-color: white;box-shadow: 1px 2px 3px 0px #999999;border: 1px solid #D1D0D0; position: absolute; 
    margin: 0px;padding: 0px; display: none;left: 250px;}
     .child_three li{margin: 0;padding: 0 0 0px 0;display:block;list-style-type: none;float: left;clear: left;}
    .child_three li a{width: 222px;line-height: 20px; display: block;}
    .child_three_one span{background: url(../Images/user.png) no-repeat left 1px; margin: 0; padding: 2px 21px 0 21px; }
   .child_three_two span{background: url(../Images/vote.png) no-repeat left 1px; margin: 0; padding: 2px 21px 0 21px; }


   /*right manu*/
   .right_manu{padding: 0px;margin: 0px 10px 0px 10px; float: right;}

	.right_manu li{float: left; list-style: none; margin: 10px 0px 0px 5px;}
	.right_manu a{color: black; text-decoration: none;    font-family: Arial;font-size: 12px;padding: 5px 5px 4px 5px;}
	.right_manu a:hover{background: url(../Images/dark.png)  repeat-x left center; border: 1px solid #c98f06; border-radius: 3px;
		padding: 4px 4px 3px 4px; }
	.r_one span{background: url(../Images/ticket.png) no-repeat left 0px;    margin: 0;padding: 2px 0 0 21px; }	
	.r_two span{background: url(../Images/info.png) no-repeat left 1px,url(../Images/drop.png) no-repeat right 7px; margin: 0;
    	padding: 2px 21px 0 21px; position: relative;}
    .r_two:hover .child_r_two{display: block;}
    .r_three span{background: url(../Images/exit.png) no-repeat left 0px;    margin: 0;padding: 2px 0 0 21px; }	
    
    /*right manu dropdown	*/
    .child_r_two{background-color: white;box-shadow: 1px 2px 3px 0px #999999;border: 1px solid #D1D0D0; position: absolute; 
    margin: 0px;padding: 0px; display: none;}
    .child_r_two li{margin: 0;padding: 0 0 0px 0;display:block;list-style-type: none;float: left;clear: left;}
    .child_r_two li a{width: 222px;line-height: 20px; display: block;}
    .r_r_one span{background: url(../Images/news.png) no-repeat left 0px;    margin: 0;padding: 2px 0 0 21px; }
    .r_r_two span{background: url(../Images/info.png) no-repeat left 0px;    margin: 0;padding: 2px 0 0 21px; }
    .r_r_three span{background: url(../Images/api.png) no-repeat left 0px;    margin: 0;padding: 2px 0 0 21px; }
    .r_r_four span{background: url(../Images/info.png) no-repeat left 0px;    margin: 0;padding: 2px 0 0 21px; }